.statisticsContainer {
    max-width: 50%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
  }
  
  .title {
    margin: 0;
    padding: 32px;
    text-transform: uppercase;
    text-align: center;
    color: gray;
    font-weight: bold;
    font-size: 30px;
    border-bottom: 1px solid #eaebf0;
  }
  
  .statList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .statList > .statListItem,
  .statList > .statListItemNoTitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 0 0 3px #000;
  }
  
  .statListItem:first-child {
    border-radius: 0 0 0 8px;
  }
  
  .statListItem:last-child {
    border-radius: 0 0 8px;
  }
  
  .statListItemNoTitle:first-child {
    border-radius: 8px 0 0 0.8px;
  }
  
  .statListItemNoTitle:last-child {
    border-radius: 0 8px 8px 0;
  }
  
  .label {
    padding-top: 20px;
    font-size: 20px;
    color: #fff;
  }
  
  .percentage {
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
  }